{% load static %}
<section class="features-tiles section">
    <div class="container">
        <div class="features-tiles-inner section-inner">
            <div class="tiles-wrap">


              {% for f in fwf %}
                <div class="tiles-item reveal-from-bottom">
                    <div class="tiles-item-inner">
                        <div class="features-tiles-item-header">
                            <div class="features-tiles-item-image mb-16"><img
                                    src="{{f.fwf_features_image}}" alt="Feature tile icon 01"
                                    width="64" height="64"></div>
                        </div>
                        <div class="features-tiles-item-content">
                            <h4 class="mt-0 mb-8">{{f.fwf_features_title}}</h4>
                            <p class="m-0 text-sm">{{f.fwf_features_description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</section>