{% load static %}
<header class="site-header reveal-from-bottom">
    <div class="container">
        <div class="site-header-inner">
            <div class="brand">
                <h1 class="m-0"><a href="index.html"><img src="{% static 'new/images/logo.svg' %}" alt="Cube" width="32"
                            height="32"></a></h1>
            </div><button id="header-nav-toggle" class="header-nav-toggle" aria-controls="primary-menu"
                aria-expanded="false"><span class="screen-reader">Menu</span> <span class="hamburger"><span
                        class="hamburger-inner"></span></span></button>
            <nav id="header-nav" class="header-nav">
                <div class="header-nav-inner">
                    <ul class="list-reset text-xxs header-nav-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'app' %}">App</a></li>
                        <li><a href="{% url 'locations' %}">Latest Locations</a></li>


                        <ul class="list-reset header-nav-right"></ul>

                        {% if user.is_authenticated %}
                        <li><a class="button button-primary button-sm" href="{% url 'dash' %}">Dash</a></li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                        {% else %}
                        
                            <li><a class="button button-primary button-sm" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                        
                        {% endif %}

                    </ul>
                    
                        
                    </ul>
                    
                </div>
            </nav>
        </div>
    </div>
</header>